.banner {
  overflow: hidden;
  padding: 8rem 0 0;
  @include max(1200px) {
    padding: 0;
  }
  .container {
    @media screen and (min-width: 1200px) and (max-width: 1727px) {
      margin: unset;
      margin-left: auto;
    }
  }
  &-slider {
    @include min(1727px) {
      width: calc(100% + ((100vw - 123rem) / 2));
    }
    position: relative;
  }

  &-img {
    padding-top: calc((550 / 1448) * 100%);
    position: relative;
    border-radius: 2.4rem;
    overflow: hidden;
    img {
      @include Img;
    }
  }
}
